<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Hello, Parrot Heroku Bot Owner!</h1>
      <p class="lead">You've successfully deployed an instance of <a href="https://github.com/lorashley/heroku_parrot">this</a> Webex Teams bot.</p>
      <hr class="my-4">
      <p><b>Reminder:</b> In order for the bot to actually work, you need to create a <a href="https://developer.webex.com/endpoint-webhooks-post.html">webhook</a> using your bot's authentication token.
      <br>The <b>targetUrl</b> will be the url of your Heroku app, it'll be something like <i>appname</i>.herokuapp.com, which will connect the client messages to the bot to the bot's backend on Heroku.</p>
      Your <a href="https://developer.webex.com/endpoint-webhooks-post.html">webhook</a> request will look like a modified version of the following: <code>
      <br>{
	<br>"name": "Heroku Parrot",
	<br>"targetUrl": "yourappname.herokuapp.com",
	<br>"resource": "messages",
	<br>"event": "created"
    <br>}</code>
      <hr class="my-4">
      <p>Need help or want to connect? Contact me on <a href="https://www.linkedin.com/in/laurenramgattie/" target="_blank">LinkedIn</a></p>  
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>